<div class="grey lighten-2 ">
    <div style="padding-left: 25px ">
        <div class="row">
            <div style="float: left;">
                <div class="card">
                    <div class="profile-image">
                        
                    </div>
                    <div class="card-content">
                        <div class="card-title"><%= current_user.name %></div>
                        <p>이메일 : <%= current_user.email %></p>
                        <p></p>
                        <div class="wrapper">
                            <span class="text-black-bold">트윗</span>
                            <span class="text-black-bold">팔로워</span>
                            <span class="text-black-bold">팔로윙</span>
                        </div>
                        <div class="wrapper">
                            <span class="text-blue-bold"><%= @pictures_count %></span>
                            <span class="text-blue-bold"><%= current_user.followers.length %></span>
                            <span class="text-blue-bold"><%= current_user.myfollows.length %></span>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div style="float: left; margin-left: 30px; width:50%">
                <p> </p>
                <p> </p>
                <p> </p>
               
           
            
              
            
                
                <% @pictures.each_with_index do |picture, index| %>
                <% if current_user.myfollows.include?(picture.user) || current_user.id == picture.user.id%>
                    <%= render partial: "picture", object: picture, locals: { index: index } %>
                <% end %>
            <% end %>
            
           
                
            </div>
        </div>
    </div>
</div>